.header {
  display: flex;
  height: 100vh;
}

.header-left {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #f1f1f1;
  padding: 10px;
  z-index: 999;
}

/* Add the following CSS */
.header-left.sticky {
  position: fixed;
}

.header-btn {
  background-color: transparent;
  color: #333;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #eaeaea;
}

.dropdown-content {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 10px;
}

.dropdown-btn {
  display: block;
  margin-bottom: 5px;
  background-color: transparent;
  color: #333;
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: #eaeaea;
}


