.dashboard-container {
    background-color: cream;
    height: 100vh;
  }
  
  .dashboard-content {
    padding: 20px;
  }
  

  .shopping-list {
    list-style-type: none;
    padding: 0;
  }
  
  .shopping-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .ingredient-name {
    flex-grow: 1;
  }
  
  .cross-icon {
    cursor: pointer;
  }
  
  

  

  .profile-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .user-info {
    margin-top: 20px;
  }
  
  .user-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .user-info p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .change-password-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .change-password-button:hover {
    background-color: #45a049;
  }
  
  .change-password-button:focus {
    outline: none;
  }
  
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    max-width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button[type='submit'] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type='submit']:hover {
    background-color: #45a049;
  }
  
  button[type='submit']:focus {
    outline: none;
  }
  